<h1>Hello, world</h1>

Host: <%= @home["Host"] %><br />
Date: <%= @home["Date"] %><br />
Referer: <%= @home["Referer"] %><br />
User-Agent: <%= @home["User-Agent"] %><br />
DNT: <%= @home["DNT"] %><br />
